section, article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #FC4A1A;
}

section{
    margin-top: 2.5rem;
}

article{
    padding: 1rem 0 1rem 0;
}